div#options {
  max-height: 205px;
  overflow: auto;
  background-color: #fafafa;
  width: 15em;
  cursor: pointer;
}

div#options > * {
  display: none;
}

div#options > .visible {
  display: block;
}

.highlight {
  background-color: #505050;
  color: #fafafa;
}