
body {
    display: flex;
    flex-direction: column;
}
header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color:rgba(255,255,255,.9);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

main {
    position: absolute;
    left:0;
    right:0;
    z-index: 0;
    background-color:rgb(199, 235, 235);
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}
footer {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(255,255,255,.9);
    z-index: 1;
}