.navigation-toggle {
    font-size: 2rem;
    padding: .5rem 1rem;
    text-align: right;
    cursor: pointer;
    
    .close {
        transform: rotate(45deg);
        display: inline-block;
        font-size: 3rem;
        margin-top: -1rem;
        margin-right: -1rem;
    }
}

nav {
    z-index: 3;
    position: fixed;
    background-color: darkcyan;
    color: #fff;
    padding: 1em;
    top:0;
    right:0;
    bottom:0;
    width: 340px;
    max-width: 70vw;
    transform: translateX( 400px );
    transition: transform 300ms ease-out;

    &.opened {
        transform: translate( 0 )
    }

    ul {
       padding:0; 
    }
    li {
        list-style: none;
    }
}