.modal-wrapper {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 100000;
    background-color: rgba(100,100,100, .5);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        background-color: #fff;
        max-height: 50vh;
        padding: 3em;
    }

}