.wrapper {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;

    @media ( max-width: 728px ) {
        flex-direction: column;
    }
}
.inside-wc-product-image {
    width: 350px;
    height: 350px;
    position: relative;

    & > img {
        width:100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        opacity: 0;
        transition: opacity 800ms ease;

        &.active {
            opacity: 1;
        }
    }
}