.switch  {
        width: 54px;
        height: 33px;
        background-color: #C4C4C4;
        border-radius: 20px;
        position: relative;
        transition: background-color 250ms ease;

        &:before {
            content:"";
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background-color: #fff;
            display:block;
            position: absolute;
            top:6px;
            left:6px;
            transition: transform 250ms ease;
        }

        &.on {
            background-color: #43525A;

            &:before {
                transform: translateX(100%);
            }

        }

        input {
           visibility:hidden;
        }

    }